-- Script de inicialización de base de datos para NFT API
-- Ejecutar como administrador de la base de datos

-- Verificar y crear la tabla de NFTs minteados si no existe
CREATE TABLE IF NOT EXISTS `minted_nfts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `redemption_code_id` int(11) NOT NULL,
  `wallet_address` varchar(42) NOT NULL,
  `token_id` int(11) NOT NULL,
  `transaction_hash` varchar(66) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `redemption_code_id` (`redemption_code_id`),
  KEY `wallet_address` (`wallet_address`),
  KEY `transaction_hash` (`transaction_hash`),
  CONSTRAINT `minted_nfts_ibfk_1` FOREIGN KEY (`redemption_code_id`) REFERENCES `wp_raffle_redemption_codes` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

-- Asegurar que la tabla de códigos de redención tiene las columnas necesarias
ALTER TABLE `wp_raffle_redemption_codes` 
  ADD COLUMN IF NOT EXISTS `token_id` INT NULL AFTER `product_id`,
  ADD COLUMN IF NOT EXISTS `transaction_hash` VARCHAR(66) NULL AFTER `wallet_address`,
  ADD COLUMN IF NOT EXISTS `used_at` DATETIME NULL AFTER `minted_at`;

-- Crear índices para mejorar el rendimiento
CREATE INDEX IF NOT EXISTS `idx_redemption_code` ON `wp_raffle_redemption_codes` (`redemption_code`);
CREATE INDEX IF NOT EXISTS `idx_status` ON `wp_raffle_redemption_codes` (`status`);
CREATE INDEX IF NOT EXISTS `idx_customer_email` ON `wp_raffle_redemption_codes` (`customer_email`);

-- Insertar tokens disponibles (opcional, dependiendo de tu implementación)
-- INSERT IGNORE INTO available_tokens (token_id, status) VALUES 
-- (0, 'available'), (1, 'available'), (2, 'available'), ... hasta 99;